Repository Nervios-de-Acero/Avocado-Frontend, pull requests merged in 2024-05, with the labels that each got.

#14 Registrarse component maquetacion
  frontend/src/app/app.component.html
  frontend/src/app/app.routes.ts
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/app/user/registrarse/registrarse.component.html
  frontend/src/app/user/registrarse/registrarse.component.ts
  frontend/src/assets/iconos/app-store-android.png
  frontend/src/assets/iconos/app-store.png
  frontend/src/assets/imagenes/img-login.png
  frontend/src/index.html
  frontend/src/styles.css
Labels: Task, Frontend-Web, Maquetación-Web, configuración

#15 Se elimino una imagen innecesaria
  2024-05-04 23_29_24-Window.png
Labels: enhancement, Frontend-Web, Maquetación-Web, configuración

#17 Maqueta casi terminada
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/app/user/registrarse/registrarse.component.html
  frontend/src/assets/iconos/atencion-al-cliente.png
Labels: Task, Frontend-Web, Maquetación-Web

#18 Registrarse component maquetacion terminado
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/app/user/registrarse/registrarse.component.html
Labels: Task, Frontend-Web, Maquetación-Web

#20 Maquetacion del componente Perfil casi lista
  frontend/src/app/app.routes.ts
  frontend/src/app/user/perfil/perfil.component.css
  frontend/src/app/user/perfil/perfil.component.html
  frontend/src/app/user/perfil/perfil.component.spec.ts
  frontend/src/app/user/perfil/perfil.component.ts
  frontend/src/assets/iconos/icon-aprobar.png
  frontend/src/assets/iconos/icon-cancelar.png
  frontend/src/assets/iconos/icon-carrito.png
  frontend/src/assets/iconos/icon-ojo.png
  frontend/src/assets/iconos/icons-lapiz.png
Labels: Task, Frontend-Web, Maquetación-Web

#21 Suscribirse component maquetacion no terminada
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/model/receta.model.ts
  frontend/src/app/model/suscripcion.model.ts
  frontend/src/app/model/user.model.ts
  frontend/src/app/services/receta.service.spec.ts
  frontend/src/app/services/receta.service.ts
  frontend/src/app/services/suscripcion.service.spec.ts
  frontend/src/app/services/suscripcion.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/suscribirse/card-suscribirse/card-suscribirse.component.css
  frontend/src/app/suscribirse/card-suscribirse/card-suscribirse.component.html
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.css
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.html
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.ts
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/app/user/registrarse/registrarse.component.html
  frontend/src/app/user/registrarse/registrarse.component.spec.ts
  frontend/src/app/user/registrarse/registrarse.component.ts
  frontend/src/app/user/user.module.ts
  frontend/src/assets/iconos/app-store-android.png
  frontend/src/assets/iconos/app-store.png
  frontend/src/assets/iconos/atencion-al-cliente.png
  frontend/src/assets/iconos/icon-busqueda.png
  frontend/src/assets/iconos/icon-campana.png
  frontend/src/assets/iconos/icon-home.png
  frontend/src/assets/iconos/icon-user.png
  frontend/src/assets/imagenes/avocado_quienesSomos.jpg
  frontend/src/assets/imagenes/background-suscripcion.png
  frontend/src/assets/imagenes/img-login.png
  frontend/src/assets/imagenes/vista-superior-mistura-de-ingredientes.jpg
  frontend/src/assets/logo/logo-nombre.png
  frontend/src/assets/logo/logo-palta.png
  frontend/src/assets/perfiles/aylen_perfil.jpg
  frontend/src/assets/perfiles/flor_perfil.jpg
  frontend/src/assets/perfiles/gaston_perfil.jpg
  frontend/src/assets/perfiles/hernan_perfil.jpg
  frontend/src/assets/perfiles/tay_perfil.jpg
  frontend/src/assets/perfiles/urielD_perfil.jpg
  frontend/src/assets/perfiles/urielR_perfil.jpg
  frontend/src/assets/perfiles/yani_perfil.jpg
  frontend/src/index.html
  frontend/src/styles.css
Labels: Task, Frontend-Web, Maquetación-Web

#23 Vista Detallada - Receta component maquetacion
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/feed/feed.module.ts
  frontend/src/app/feed/feed/feed.component.css
  frontend/src/app/feed/feed/feed.component.html
  frontend/src/app/feed/feed/feed.component.spec.ts
  frontend/src/app/feed/feed/feed.component.ts
  frontend/src/app/model/receta.model.ts
  frontend/src/app/receta/card-receta/card-receta.component.css
  frontend/src/app/receta/card-receta/card-receta.component.html
  frontend/src/app/receta/card-receta/card-receta.component.ts
  frontend/src/app/receta/vista-receta/vista-receta.component.css
  frontend/src/app/receta/vista-receta/vista-receta.component.html
  frontend/src/app/receta/vista-receta/vista-receta.component.spec.ts
  frontend/src/app/receta/vista-receta/vista-receta.component.ts
  frontend/src/app/services/receta.service.ts
  frontend/src/assets/iconos/icon-batidor.png
  frontend/src/assets/iconos/icon-reloj.png
Labels: Task, Frontend-Web, Maquetación-Web

#24 Agregando vista detallada recetas
  frontend/src/app/app.routes.ts
  frontend/src/app/receta/vista-receta/vista-receta.component.css
  frontend/src/app/receta/vista-receta/vista-receta.component.html
  frontend/src/app/receta/vista-receta/vista-receta.component.spec.ts
  frontend/src/app/receta/vista-receta/vista-receta.component.ts
  frontend/src/app/shared/footer/footer.component.css
  frontend/src/app/shared/footer/footer.component.html
  frontend/src/app/shared/footer/footer.component.spec.ts
  frontend/src/app/shared/footer/footer.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/iconos/icon-batidor.png
  frontend/src/assets/iconos/icon-reloj.png
Labels: Task, Frontend-Web, Maquetación-Web

#28 Shared component
  frontend/src/app/app.routes.ts
  frontend/src/app/shared/footer/footer.component.css
  frontend/src/app/shared/footer/footer.component.html
  frontend/src/app/shared/navbar/navbar.component.css
  frontend/src/app/shared/navbar/navbar.component.html
  frontend/src/app/shared/navbar/navbar.component.spec.ts
  frontend/src/app/shared/navbar/navbar.component.ts
  frontend/src/assets/iconos/icon-carrito.png
  frontend/src/assets/iconos/icons-salida.png
  frontend/src/index.html
Labels: Task, Frontend-Web, Maquetación-Web

#29 Perfil component maquetacion
  frontend/src/app/acerca-de/acerca-de.module.ts
  frontend/src/app/acerca-de/sobre-nosotros/sobre-nosotros.component.css
  frontend/src/app/acerca-de/sobre-nosotros/sobre-nosotros.component.html
  frontend/src/app/acerca-de/sobre-nosotros/sobre-nosotros.component.spec.ts
  frontend/src/app/acerca-de/sobre-nosotros/sobre-nosotros.component.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.routes.ts
  frontend/src/app/contacto/contacto.module.ts
  frontend/src/app/contacto/contacto/contacto.component.css
  frontend/src/app/contacto/contacto/contacto.component.html
  frontend/src/app/contacto/contacto/contacto.component.spec.ts
  frontend/src/app/contacto/contacto/contacto.component.ts
  frontend/src/app/feed/feed/feed.component.css
  frontend/src/app/receta/card-receta/card-receta.component.css
  frontend/src/app/user/layout/layout.component.css
  frontend/src/app/user/layout/layout.component.html
  frontend/src/app/user/login/login.component.css
  frontend/src/app/user/login/login.component.html
  frontend/src/app/user/perfil/perfil.component.css
  frontend/src/app/user/perfil/perfil.component.html
  frontend/src/app/user/perfil/perfil.component.spec.ts
  frontend/src/app/user/perfil/perfil.component.ts
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/assets/iconos/icon-aprobar.png
  frontend/src/assets/iconos/icon-cancelar.png
  frontend/src/assets/iconos/icon-carrito.png
  frontend/src/assets/iconos/icon-ojo.png
  frontend/src/assets/iconos/icons-lapiz.png
  frontend/src/assets/imagenes/img-login.png
  frontend/src/assets/imagenes/vista-superior-mistura-de-ingredientes.jpg
  frontend/src/styles.css
Labels: enhancement, Task, Frontend-Web, Maquetación-Web

#35 maquetacion responsiva
  frontend/src/app/contacto/contacto/contacto.component.css
  frontend/src/app/shared/footer/footer.component.css
  frontend/src/app/shared/footer/footer.component.html
  frontend/src/app/shared/footer/footer.component.spec.ts
  frontend/src/app/shared/footer/footer.component.ts
  frontend/src/app/shared/navbar/navbar.component.css
  frontend/src/app/shared/navbar/navbar.component.html
  frontend/src/app/shared/navbar/navbar.component.spec.ts
  frontend/src/app/shared/navbar/navbar.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/suscribirse/card-suscribirse/card-suscribirse.component.css
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.css
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.html
  frontend/src/app/user/feed/feed.component.css
  frontend/src/app/user/feed/feed.component.html
  frontend/src/app/user/feed/feed.component.spec.ts
  frontend/src/app/user/feed/feed.component.ts
  frontend/src/app/user/layout/layout.component.css
  frontend/src/app/user/layout/layout.component.html
  frontend/src/app/user/login/login.component.css
  frontend/src/app/user/login/login.component.html
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/assets/iconos/icon-campana.png
  frontend/src/assets/iconos/icon-carrito.png
  frontend/src/assets/iconos/icon-contacto.png
  frontend/src/assets/iconos/icon-organizacion.png
  frontend/src/assets/imagenes/banner-suscripcion.jpg
Labels: enhancement, Frontend-Web, Maquetación-Web, Lógica-Web

#36 frontend responsivo
  frontend/src/app/contacto/contacto/contacto.component.css
  frontend/src/app/shared/footer/footer.component.css
  frontend/src/app/shared/footer/footer.component.html
  frontend/src/app/shared/footer/footer.component.spec.ts
  frontend/src/app/shared/footer/footer.component.ts
  frontend/src/app/shared/navbar/navbar.component.css
  frontend/src/app/shared/navbar/navbar.component.html
  frontend/src/app/shared/navbar/navbar.component.spec.ts
  frontend/src/app/shared/navbar/navbar.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/suscribirse/card-suscribirse/card-suscribirse.component.css
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.css
  frontend/src/app/suscribirse/suscribirse/suscribirse.component.html
  frontend/src/app/user/feed/feed.component.css
  frontend/src/app/user/feed/feed.component.html
  frontend/src/app/user/feed/feed.component.spec.ts
  frontend/src/app/user/feed/feed.component.ts
  frontend/src/app/user/layout/layout.component.css
  frontend/src/app/user/layout/layout.component.html
  frontend/src/app/user/login/login.component.css
  frontend/src/app/user/login/login.component.html
  frontend/src/app/user/registrarse/registrarse.component.css
  frontend/src/assets/iconos/icon-campana.png
  frontend/src/assets/iconos/icon-carrito.png
  frontend/src/assets/iconos/icon-contacto.png
  frontend/src/assets/iconos/icon-organizacion.png
  frontend/src/assets/imagenes/banner-suscripcion.jpg
Labels: enhancement

#40 Se realizo el responsivo de la vista detallada detalla de la receta
  frontend/src/app/receta/vista-receta/vista-receta.component.css
  frontend/src/app/receta/vista-receta/vista-receta.component.html
Labels: enhancement, Frontend-Web, Maquetación-Web
